
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content-app{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form{
  width: 80%;
}

.content-gifs{
  width: 80%;
}

img{
  height: 200px;
}